---
http_interactions:
- request:
    method: post
    uri: https://api.mailchimp.com/2.0/lists/update-member.json
    body:
      encoding: UTF-8
      string: '{"id":"a5b08674ef","email":{"email":"support@spreecommerce.com"},"merge_vars":{"new-email":"support1@spreecommerce.com"},"email_type":"html","replace_interests":true,"apikey":"------------------------------------"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"support1@spreecommerce.com","euid":"282dd2e5a7","leid":"178017493"}'
  recorded_at: Thu, 10 Jul 2014 19:59:12 GMT
recorded_with: VCR 2.4.0
