---
http_interactions:
- request:
    method: post
    uri: https://api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"a5b08674ef","email":{"email":"support@spreecommerce.com"},"merge_vars":{"fname":"Spree","lname":"Commerce"},"email_type":"html","double_optin":false,"update_existing":true,"replace_interests":false,"send_welcome":false,"apikey":"------------------------------------"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"support@spreecommerce.com","euid":"282dd2e5a7","leid":"178017493"}'
  recorded_at: Thu, 10 Jul 2014 19:59:12 GMT
recorded_with: VCR 2.4.0
