---
http_interactions:
- request:
    method: post
    uri: https://api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"a5b08674ef","email":{"email":"bruno+mailchampion@spreecommerce.com"},"merge_vars":{"fname":"Bruno","lname":"Buccolo","list_id":["a5b08674ef","fa2c2d7aed"]},"email_type":"html","double_optin":false,"update_existing":true,"replace_interests":false,"send_welcome":false,"apikey":"apikey"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"bruno+mailchampion@spreecommerce.com","euid":"f989dd2fe1","leid":"178018225"}'
  recorded_at: Thu, 10 Jul 2014 20:37:37 GMT
- request:
    method: post
    uri: https://api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"fa2c2d7aed","email":{"email":"bruno+mailchampion@spreecommerce.com"},"merge_vars":{"fname":"Bruno","lname":"Buccolo","list_id":["a5b08674ef","fa2c2d7aed"]},"email_type":"html","double_optin":false,"update_existing":true,"replace_interests":false,"send_welcome":false,"apikey":"apikey"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"bruno+mailchampion@spreecommerce.com","euid":"f989dd2fe1","leid":"178018229"}'
  recorded_at: Thu, 10 Jul 2014 20:37:38 GMT
recorded_with: VCR 2.4.0
